#img-bg{
    background-image: url("https://cdn.wallpapersafari.com/36/19/0S9OTt.gif");
    background-repeat: no-repeatkground-seamless-looping-concept-an;
    background-size: cover;
    display: grid;
    justify-content:center;
    align-items: center;
    height: 100vh;
}

label{

    color: white;
}

.cad{

    color:white;
    font-size: 23px;
}